USE [master]
GO
/****** Object:  Database [ПрокатГ]    Script Date: 11.05.2023 13:38:43 ******/
CREATE DATABASE [ПрокатГ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ПрокатГ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ПрокатГ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ПрокатГ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ПрокатГ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ПрокатГ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ПрокатГ]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 11.05.2023 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код заказа] [nvarchar](50) NOT NULL,
	[Код сотрудника] [int] NULL,
	[Дата создания] [date] NOT NULL,
	[Время заказа] [time](7) NOT NULL,
	[Код клиента] [int] NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[Дата закрытия] [date] NULL,
	[Время проката] [nvarchar](50) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Код заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 11.05.2023 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Код клиента] [int] NOT NULL,
	[ФИО] [nvarchar](80) NOT NULL,
	[Паспортные данные] [nvarchar](80) NOT NULL,
	[Дата рождения] [date] NULL,
	[Адрес] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 11.05.2023 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты](
	[ID] [int] NOT NULL,
	[Код сотрудника] [int] NOT NULL,
	[Код заказа] [nvarchar](50) NOT NULL,
	[Дата создания] [date] NULL,
 CONSTRAINT [PK_Отчеты] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 11.05.2023 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [int] NOT NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[ФИО] [nvarchar](50) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Последний вход] [nvarchar](50) NULL,
	[Тип входа] [nvarchar](50) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Список услуг]    Script Date: 11.05.2023 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Список услуг](
	[ID] [int] NOT NULL,
	[Код заказа] [nvarchar](50) NOT NULL,
	[Код услуги] [int] NOT NULL,
 CONSTRAINT [PK_Список услуг] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 11.05.2023 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[Код услуги] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Шифр] [nvarchar](50) NOT NULL,
	[Стоимость руб час] [money] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Код заказа], [Код сотрудника], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката]) VALUES (N'45462526/12.03.2022', NULL, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([Код заказа], [Код сотрудника], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката]) VALUES (N'45462527/13.03.2022', NULL, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([Код заказа], [Код сотрудника], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката]) VALUES (N'45462528/14.03.2022', NULL, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, N'В прокате', NULL, N'120 минут')
GO
INSERT [dbo].[Клиенты] ([Код клиента], [ФИО], [Паспортные данные], [Дата рождения], [Адрес], [email], [password]) VALUES (45462526, N'Фролов Андрей Иванович', N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Москва, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([Код клиента], [ФИО], [Паспортные данные], [Дата рождения], [Адрес], [email], [password]) VALUES (45462527, N'Николаев Даниил Всеволодович', N'Серия 2280 Номер 223523', CAST(N'2001-02-10' AS Date), N'614164, г. Москва, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([Код клиента], [ФИО], [Паспортные данные], [Дата рождения], [Адрес], [email], [password]) VALUES (45462528, N'Снегирев Макар Иванович', N'Серия 4560 Номер 354155', CAST(N'1998-05-21' AS Date), N'394242, г. Москва, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Последний вход], [Тип входа]) VALUES (101, N'Продавец', N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00', N'Успешно')
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Последний вход], [Тип входа]) VALUES (102, N'Продавец', N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00', N'Успешно')
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Последний вход], [Тип входа]) VALUES (103, N'Администратор', N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00', N'Успешно')
GO
INSERT [dbo].[Список услуг] ([ID], [Код заказа], [Код услуги]) VALUES (1, N'45462526/12.03.2022', 34)
INSERT [dbo].[Список услуг] ([ID], [Код заказа], [Код услуги]) VALUES (2, N'45462526/12.03.2022', 31)
INSERT [dbo].[Список услуг] ([ID], [Код заказа], [Код услуги]) VALUES (3, N'45462526/12.03.2022', 353)
GO
INSERT [dbo].[Услуги] ([Код услуги], [Наименование], [Шифр], [Стоимость руб час]) VALUES (31, N'Прокат набора защитного оборудования', N'JUR8R', 1000.0000)
INSERT [dbo].[Услуги] ([Код услуги], [Наименование], [Шифр], [Стоимость руб час]) VALUES (34, N'Прокат роликов', N'JKFBJ09', 1000.0000)
INSERT [dbo].[Услуги] ([Код услуги], [Наименование], [Шифр], [Стоимость руб час]) VALUES (44, N'Аренда моноколеса', N'DHBGFY563', 1000.0000)
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([Код клиента])
REFERENCES [dbo].[Клиенты] ([Код клиента])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Сотрудники] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Сотрудники]
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD  CONSTRAINT [FK_Отчеты_Заказы] FOREIGN KEY([Код заказа])
REFERENCES [dbo].[Заказы] ([Код заказа])
GO
ALTER TABLE [dbo].[Отчеты] CHECK CONSTRAINT [FK_Отчеты_Заказы]
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD  CONSTRAINT [FK_Отчеты_Сотрудники] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Отчеты] CHECK CONSTRAINT [FK_Отчеты_Сотрудники]
GO
ALTER TABLE [dbo].[Список услуг]  WITH CHECK ADD  CONSTRAINT [FK_Список услуг_Заказы] FOREIGN KEY([Код заказа])
REFERENCES [dbo].[Заказы] ([Код заказа])
GO
ALTER TABLE [dbo].[Список услуг] CHECK CONSTRAINT [FK_Список услуг_Заказы]
GO
ALTER TABLE [dbo].[Список услуг]  WITH CHECK ADD  CONSTRAINT [FK_Список услуг_Услуги] FOREIGN KEY([Код услуги])
REFERENCES [dbo].[Услуги] ([Код услуги])
GO
ALTER TABLE [dbo].[Список услуг] CHECK CONSTRAINT [FK_Список услуг_Услуги]
GO
USE [master]
GO
